/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 40px;
  font-weight: bold;
  color: #565263;
  margin: 40px 220px 70px;
  text-align: center;
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 800;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.centered-buttons {
  margin-right:auto;
  margin-left:auto;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.sPanel{ /*stile per pannelli con bottoni*/
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 7px;
  padding-left:20px;
  margin-bottom: 20px;
  margin-left:10px;
  width: 300px;
  height: 270px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-align:center;
  border-radius: 5px; 
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;
}

.mPanel{ /*stile per pannello con sola scritta*/
  padding: 10px;
  margin: 7px;
  width: 300px;
  height: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-align:center;
  border-radius: 5px; 
}

.lButton{ /*stile per bottoni di tutta la pagine tranne quelli dello starter*/
  color: #466646;
  background: #84BF88;
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border: #466646; /* Spessore, tipo e colore del bordo */
  border-radius: 5px; 
  padding: 7px 15px;
}

.sButton{ /*stile i bottoni dello starter*/
  color: #466646;
  background: #84BF88;
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  border: #466646; /* Spessore, tipo e colore del bordo */
  border-radius: 5px; 
  padding: 9px 18px;
  margin: 5px, 30px;
}

.sButton:hover {
  background-color: #466646; /* Cambio colore di sfondo al passaggio del mouse */
  color: #a4d7a8; /* Cambio colore del testo al passaggio del mouse */
}

.lButton:hover {
  background-color: #466646; /* Cambio colore di sfondo al passaggio del mouse */
  color: #a4d7a8; /* Cambio colore del testo al passaggio del mouse */
}


.messaggios{  /*stile per messaggi di successo*/
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #466646;
}

.messaggioa{ /*stile per messaggi di allerta*/
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #A65D33;
}

.testi{ /*stile per tutti i testi di istruzione del sito*/
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-size: medium;
  font-weight: bold;
  color: #565263;
}

.testi2{ /*stile per il testo di benvenuto nello starter*/
  
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  color: #565263;
}

.testi3{ /*stile per il sottotitoletto di spiegazione nello starter*/
  
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-size: medium;
  font-weight: bold;
  color: #7d7b83;
}


/* ----centramento dei bottoni nello starter----*/
.centramento{ 
  padding-left:250px;
}
.centramento2{
  padding-left:35px;
}
/*---- ----*/

.textBox{ /*stile dei testbox*/
  width: 200px; /* larghezza desiderata */
  height: 20px; /* altezza desiderata */
  border: 1px solid #dfdfdf; /* bordo grigio */
  border-radius: 5px; /* angoli arrotondati */
  outline: none; /* rimuove il contorno attorno al textbox quando è in focus */
}

.textBox:focus {
  border-color: #466646; /* colore del bordo quando il textbox è in focus */
}

.listBox { /*stile dei listbox*/
  width: 200px; 
  height: 35px; 
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
}

.listBox:focus {
  border-color: #466646; 
}