/** Add css rules here for your application. */
/*var(--gradient-2, linear-gradient(90deg, #2accf5 0%, #5000fd 100%)) per fare uno sfondo sfumatooooo bellissimooo*/
/*background-image:url(imgSfondoSfumato.png);*/


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 40px;
  font-weight: bold;
  color: #565263;
  margin: 40px 0px 70px;
  text-align: center;
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 800;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.centered-buttons {
  margin-right:auto;
  margin-left:auto;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.sfondo{
  background:var(--gradient-2, linear-gradient(90deg, #efffdc 100%, #84BF88 20%))
}

.sPanel{
  padding: 10px;
  margin: 0;
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-align:center;
  border-radius: 5px; 
}

.mPanel{
  padding: 10px;
  margin: 0;
  width: 300px;
  height: 10px;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  text-align:center;
  border-radius: 5px; 
}

.lButton{
  color: #466646;
  background: #84BF88;
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border: #466646; /* Spessore, tipo e colore del bordo */
  border-radius: 5px; 
  padding: 7px 15px;
}

.sButton{
  color: #466646;
  background: #84BF88;
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  border: #466646; /* Spessore, tipo e colore del bordo */
  border-radius: 5px; 
  padding: 9px 18px;
}

.sButton:hover {
  background-color: #466646; /* Cambio colore di sfondo al passaggio del mouse */
  color: #a4d7a8; /* Cambio colore del testo al passaggio del mouse */
}

.lButton:hover {
  background-color: #466646; /* Cambio colore di sfondo al passaggio del mouse */
  color: #a4d7a8; /* Cambio colore del testo al passaggio del mouse */
}


.messaggios{
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #466646;
}

.messaggioa{
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #A65D33;
}

.testi{
  font-family: 'bufalino', sans-serif;
  font-style: normal;
  font-size: medium;
  font-weight: bold;
  color: #565263;
}